body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.quoteCards {
    overflow: hidden;
}

#menuButton {
    right: 5%;
    bottom: 20%;
}

@media (max-width: 600px) {
    #menuButton {
        right: 5%;
        bottom: 10%;
    }
}