body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#gsignin{
    all: initial;
}
#particles-js {
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.quoteCards .card-image img {
    max-height: 10vw;
}

.quoteCards .card-content {
    height: 10vw;
    overflow: hidden;
}

.quoteCards .card-action {
    height: 5vw;
    overflow: hidden;
}

#menuButton {
    right: 5%;
    bottom: 5%;
}

@media (max-width: 992px) {
}

@media (max-width: 600px) {
    .quoteCards .card-image img {
        max-height: 20vw;
    }

    .quoteCards .card-content {
        height: 20vw;
        overflow: hidden;
    }

    .quoteCards .card-action {
        height: 15vw;
        overflow: hidden;
    }
}