body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    position: relative;
}

#menuButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
}